<ul>
  <li class="comment-thread" id="likeable-<%= object_to_s(comment) %>-<%= comment.id %>">
    <div class="comment" id="comment-<%=comment.id %>">
      <div class="comment-header">
        <div class="comment-info">
          <div class="post-user">
            <%= render partial: 'users/user_icon', locals: { user: comment.user } %>
            <p><%= link_to comment.user.full_name, user_path(comment.user) %></p>
          </div>
          <div class="time-posted">
            <% if user_is_current_user?(comment.user) %>
              <div class="comment-controls">
                <div>
                  <%= link_to 'edit', edit_polymorphic_path(comment) %>
                  <%= link_to 'delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure you want to delete this comment?'}%>
                </div>
              </div>
            <% end %>
            <% if comment.edited? %>
              <em>edited <%= time_ago_in_words(comment.updated_at) %> ago</em>
            <% else %>
              <em><%= time_ago_in_words(comment.created_at) %> ago</em>
            <% end %>
          </div>
        </div>
      </div>
      <div class="comment-body">
        <div class="comment-content">
          <p><%= simple_format(comment.content.gsub(/\\r\\n/, "\n")) %></p>
        </div>
        <div class="comment-likes">
          <%= render partial: 'likes/like_button', locals: { likeable: comment, path: comment_likes_path(comment) } %>
          <% if comment.likes.any? %>
            <div class="comment-likes">
              <%= render partial: 'likes/like_count', locals: { likeable: comment, path: comment_path(comment) } %>
            </div>
          <% end %>
        </div>
        <div class="comment-form">
          <%= render partial: 'comments/comment_form',
                            locals: { commentable: comment,
                                      id: "post-#{comment.commentable_id}-comment-#{comment.id}-reply" } %>
        </div>
        <% if comment.comments.any? %>
          <button id="toggle-comment-<%= comment.id %>-replies" class="toggle-replies toggle-comment-button">
            Hide Replies
            <ion-icon class="chevron" name="chevron-up-outline"></ion-icon>
          </button>
        <% end %>
        <div id="comment-<%= comment.id %>-replies" class="replies">
          <%= render partial: 'comments/comment', collection: comment.comments.includes([:comments, :likers, user: [:profile]])  %>
        </div>
      </div>
    </div>
  </li>
  <ul>
