<p>Edit Comment</p>
<p><%= @comment.content %></p>

<%= form_with(model: [@comment.commentable, @comment]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.text_area :content, id: "#{object_to_s(@comment.commentable)}-#{@comment.commentable.id}-comment" %>
  <br>
  <%= f.submit "Edit Comment" %>
<% end %>