<% if notification.description == 'new friend request' %>
    <%= turbo_frame_tag "accept-friend-request-#{friendship.id}" do %> 
      <li class="individual-notification">
        <div class="description-and-time">
          <p class="notification-description">
            <%= notification.description %> from 
            <%= link_to notification.sender.full_name, notification.sender, data: { turbo: false } %>
          </p>
          <p>
            <em><%= time_ago_in_words(notification.created_at) %> ago</em>
          </p>
        </div>
        <div class="request-controls">
          <%= render partial: 'friendship_accept', locals: { notification: notification } %>
          <%= render partial: 'friendship_decline', locals: { notification: notification } %>
          <%= render partial: 'dismiss_notification_button', locals: { notification: notification } %>
        </div>
      </li> 
    <% end %>
<% else %>
    <%= render partial: "standard_notification", locals: { notification: notification } %>
<% end %>
