<% if notification.description == 'new friend request' %>
  <li class="friend-request  notification">
      <p class="notification-description"><%= notification.description %> from <%= link_to notification.sender.full_name, notification.sender %></p>
      <%= render partial: 'friendship_accept', locals: { notification: notification } %>
      <%= render partial: 'friendship_decline', locals: { notification: notification } %>
      <%= render partial: 'dismiss_notification_button', locals: { notification: notification } %>
  </li>
<% else %>
  <li class="notification accepted-request">
    <%= link_to notification.sender.full_name, notification.sender %>
    <p class="notification-description"><%= notification.description %></p>
    <%= render partial: 'dismiss_notification_button', locals: { notification: notification } %>
  </li>
<% end %>
