<% if notification.description == 'new friend request' %>
  <li class="notification friend-request">
    <span>
      <%= notification.description %> from <%= link_to full_name(notification.sender), notification.sender %>
    </span>
    <div>
      <%= render partial: 'friendship_accept', locals: { notification: notification } %>
      <%= render partial: 'friendship_decline', locals: { notification: notification } %>
      <%= render partial: 'dismiss_notification_button', locals: { notification: notification } %>
    </div>
  </li>
<% else %>
  <li class="notification accepted-request">
    <%= link_to full_name(notification.sender), notification.sender %>
    <%= notification.description %>
    <%= render partial: 'dismiss_notification_button', locals: { notification: notification } %>
  </li>
<% end %>
