<h1>Notifications for <%= current_user.first_name %></h1>
<% @notifications.unread.each do |notification| %>
  <% case notification.object_type
       when 'Friendship' %>
         <p>New <%= notification.description %> from <%= full_name(notification.sender) %></p>
          <%= button_to "Accept",
          friendship_path(Friendship.find_by(sender: notification.sender, receiver: notification.receiver)),
          method: :put,
          params: { friendship: { status: 'accepted', sender_id: notification.sender } } %>
          <%= button_to "Decline",
          friendship_path(Friendship.find_by(sender: notification.sender, receiver: notification.receiver)),
          method: :put,
          params: { friendship: { status: 'declined', sender_id: notification.sender } }
          %>
  <% end %>
<% end %>