<h1>Notifications for <%= current_user.first_name %></h1>
<ul>
  <% @notifications.unread.each do |notification| %>
    <% case notification.object_type
        when 'Friendship' %>
          <% if notification.description == 'new friend request' %>
            <li class="notification friend-request">
              <%= notification.description %> from <%= link_to full_name(notification.sender), notification.sender %>
              <div>
                <!-- update Friendship object and allow notification to be marked as read from within Friendship controller -->
                <%= button_to "Accept",
                friendship_path(Friendship.find_by(sender: notification.sender, receiver: notification.receiver)),
                method: :put,
                params: {  notification: { time_sent: notification.time_sent }, friendship: { status: 'accepted', sender_id: notification.sender.id } },
                class: "button accept-request" 
                %>

                <%= button_to "Decline",
                friendship_path(Friendship.find_by(sender: notification.sender, receiver: notification.receiver)),
                method: :put,
                params: { notification: { time_sent: notification.time_sent }, friendship: { status: 'declined', sender_id: notification.sender.id } },
                class: "button decline-request"
                %>
              </div>
            </li>
          <% else %>
            <li class="notification accepted-request">
              <%= link_to full_name(notification.sender), notification.sender %> accepted your friend request.
              <!-- mark Notification as read -->
              <%= button_to "Dismiss",
              notification,
              method: :put,
              params: { notification: { notification_id: notification.id, read: true } },
              class: "button dismiss-notification" %>
            </li>
          <% end %>
        <% when 'Like' %>
          <li class="notification liked-post">
            <span><%= full_name(notification.sender) %></span>
            <span><%= link_to notification.description, notification.object_url %>.</span>
          </li>
            <%= button_to "Dismiss",
            notification,
            method: :put,
            params: { notification: { notification_id: notification.id, read: true } },
            class: "button dismiss-notification" %>
        <% when 'Comment' %>
          <% if notification.description == 'commented on your post' %>
            <li class="notification commented-post">
              <%= link_to full_name(notification.sender), notification.sender %><%= notification.description %>
            </li>
            <%= button_to "Dismiss",
            notification,
            method: :put,
            params: { notification: { notification_id: notification.id, read: true } },
            class: "button dismiss-notification" %>
          <% end %>
    <% end %>
  <% end %>
<ul>