<h1>Notifications for <%= current_user.first_name %></h1>
<% @notifications.unread.each do |notification| %>
  <% case notification.object_type
       when 'Friendship' %>
         <p style="display:inline-block; margin-right: 12px">New <%= notification.description %> from <%= full_name(notification.sender) %>
          <span>
            <%= button_to "Accept",
            friendship_path(Friendship.find_by(sender: notification.sender, receiver: notification.receiver)),
            method: :put,
            params: {  notification: { time_sent: notification.time_sent }, friendship: { status: 'accepted', sender_id: notification.sender.id } },
            form: { style: 'display:inline-block;' } %>

            <%= button_to "Decline",
            friendship_path(Friendship.find_by(sender: notification.sender, receiver: notification.receiver)),
            method: :put,
            params: { notification: { time_sent: notification.time_sent }, friendship: { status: 'declined', sender_id: notification.sender.id } },
            form: { style: ' display:inline-block; ' }
            %>
          </span>
         </p>


  <% end %>
<% end %>