<div class="like-stats">
  <% if object.likes.count == 2 %>
    <p>
      <%= link_to full_name(object.likers.first), user_path(object.likers.first) %>
      and <%= link_to full_name(object.likers.second), user_path(object.likers.second) %> like this.
    </p>
  <% elsif object.likes.count > 2 %>
    <p>
      <%= link_to full_name(object.likers.first), user_path(object.likers.first) %>
      and <%= link_to "#{object.likes.count - 1} others", path %> like this.
    </p>
  <% else %>
    <p>
      <%= link_to full_name(object.likers.first), user_path(object.likers.first) %> likes this.
    </p>
  <% end %>
</div>
