<div class="container">
  <div class="page-container">
    <h1 class="users-heading" >Friends and Other Users</h1>
    <%= form_with(url: search_users_path, method: :get, class: 'user-search-form') do |f| %>
      <div class="search-and-submit">
        <%= f.text_field :query, placeholder: 'Search for users by name.', size: "25", required: true %>
        <%= f.submit 'Search', class: 'submit' %>
      </div>
    <% end %>
    <% if params[:query].present? %>
      <h2 class="users-heading">Search Results</h2>
      <ul class="users-friends">
        <% @results.each do |result| %>
          <li class="result">
            <div class="name-and-icon">
              <%= render partial: 'user_icon', locals: { user: result } %>
              <%= link_to result.full_name, user_path(result) %>
            </div>
            <% if current_user.friends.include?(result) %>
              <%= render partial: 'unfriend_button', locals: { friend: result } %>
            <% else %>
              <%= render partial: 'add_friend_button', locals: { user: result } %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= content_tag(:em, "No users found") if @results.none? %>
    <% end %>
    <div class="friends-and-other-users" data-controller="show-users">
      <% if @friends.any? %>
        <div class="users-heading-button-container">
          <h2 class="users-heading"> Friends</h2>
        </div>
        <%= button_to "Hide Friends", 
            "javascript:void(0)",
            method: :get,
            class: "button",
            data: { "show-users-target": "friendsButton", action: "click->show-users#showFriends"} %>
        <ul class="users-friends" id="friends", data-show-users-target="friends">
          <%= render partial: "friend", collection: @friends %>
        </ul>
      <% else %>
        <em>No Friends yet. Send some requests below!</em>
      <% end %>

      <% if @users.any? %>
        <div class="users-heading-button-container">
          <h2 class="users-heading">Other Users</h2>
        </div>
        <%= button_to "Show Other Users", 
            "javascript:void(0)",
            method: :get,
            class: "button",
            data: { "show-users-target": "usersButton", action: "click->show-users#showUsers" }%>
        <ul class="users-friends hidden" id="other-users", data-show-users-target="users">
          <%= render partial: "user", collection: @users %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
