<h1>Users#show</h1>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<% if current_user == @user %>
  <div class="form new-post">
    <%= form_with(model: @post) do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>

        <%= f.text_area :content %>
        <%= f.submit "Create Post" %>
    <% end %>
  </div>
<% end %>

