<div class="container">
  <div class="page-container">
    <h1 class="gembook-link">Welcome to Gembook</h1>
    <h3 class="users-heading">✨<em>Where Friendships Shine</em> ✨</h3>
    <h2>Log in</h2>
    <div class="devise-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-fields">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: false, autocomplete: "email", size: '25' %>
          </div>
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", size: '25' %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Log in", class:'submit button' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
