<div class="form new-post">
  <p><em>Post text, an image, or both</em></p>
  <%= form_with(model: @post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, rows: 7, placeholder: "What's new?", class: 'post-text-area' %>
    </div>
    <div class="field image-upload">
      <label class="image-label">
        <ion-icon class="image-icon" name="image"></ion-icon>
        <span>
          <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg,image/jpg', class: 'file-field' %>
        </span>
      </label>
    </div>
    <div class="field">
      <%= f.submit "Post", class: 'button-post button submit' %>
    </div>
  <% end %>
</div>
