<div class="form new-post">
  <p><em>Post some text, an image, or both.</em></p>
  <%= form_with(model: @post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, rows: 7, placeholder: "Enter some interesting text . . .", class: 'post-text-area' %>
    </div>
    <div class="field image-upload">
      <label class="image-label">
        <div class="icon-file-field-container">
          <div class="icon-container">
            <ion-icon class="image-icon" name="image"></ion-icon>
          </div>
          <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg,image/jpg', class: 'file-field' %>
        </div>
      </label>
    </div>
    <div class="field">
      <%= f.submit "Post", class: 'button-post button submit' %>
    </div>
  <% end %>
</div>
