<div class="container">
  <div class="page-container">
    <div class="post">
      <div class="post-user post-controls">
        <%= render partial: 'users/user_icon', locals: { user: @post.user } %>
        <p class="post-author"><%= link_to @post.user.full_name, user_path(@post.user) %></p>
      </div>
      <% if @post.image.present? %>
        <div class="post-image">
          <%= link_to image_tag(@post
                      .image
                      .representation(resize_to_fit: [600, 600], convert: "png"), alt: 'a user posted image'),
                    url_for(@post.image),
                    id: "post-#{@post.id}-image" %>
        </div>
        <p class="abbreviated"><%= abbreviated(@post) %><span class="ellipses"> . . .</span></p>
      <% else %>
        <p class="abbreviated"><%= abbreviated(@post) %><span class="ellipses"> . . .</span></p>
      <% end %>
      <div class="likers">
        <% if @post.likers.any? %>
          <%= render partial: 'liker', collection: @post.likers %>
        <% end %>
      </div>
      <% if @post.comments.any? %>
        <div class="replies">
          <%= render partial: 'comments/comment', collection: @post.comments  %>
        </div>
      <% end %>
      <div class="link-back-container">
        <%= link_to posts_path, class: 'back-to-post' do %>
          <ion-icon class="arrow-back" name="arrow-back-outline"></ion-icon>
          <span class="back-to-post-text">back to posts</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
