<nav>
  <%= link_to root_url do %>
    <div class="logo">
      <div class="gembook">
        <ion-icon class="diamond nav-icon" name="diamond"></ion-icon>
        <span>Gembook</span>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <button id="hamburger" class="hamburger">
      <ion-icon name="menu-outline"></ion-icon>
    </button>
    <ul class="nav-links" id="nav-links">
      <li class="nav-item">
        <%= link_to posts_path do %>
          <div class="link-group">
            <div class="nav-icon-container">
              <ion-icon class="nav-icon" name="create-outline"></ion-icon>
            </div>
            <span>Posts</span>
          </div>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to users_path do %>
          <div class="link-group">
            <div class="nav-icon-container">
              <ion-icon class="nav-icon" name="people-circle-outline"></ion-icon>
            </div>
            <span>Friends</span>
          </div>
        <% end %>
      </li>
      <li class="nav-item">
        <% if current_user.received_notifications.unread.any? %>
          <%= link_to notifications_path, class: 'notifications-link' do %>
            <div class="link-group">
              <div class="nav-icon notifications-bell">
                <div class="notifications-count">
                  <span><%= current_user.received_notifications.unread.length %></span>
                </div>
                <div class="nav-icon-container">
                  <ion-icon name="notifications-outline"></ion-icon>
                </div>
              </div>
              <span>Notifications</span>
            </div>
          <% end %>
        <% else %>
          <%= link_to notifications_path, class: 'notifications-link'  do %>
            <div class="link-group">
              <div class="nav-icon notifications-bell">
                <div class="nav-icon-container">
                  <ion-icon name="notifications-outline"></ion-icon>
                </div>
              </div>
              <span>Notifications</span>
            </div>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to edit_user_registration_path  do %>
          <div class="link-group">
            <div class="nav-icon">
              <div class="nav-icon-container">
                <ion-icon name="settings-outline"></ion-icon>
              </div>
            </div>
            <span><%= current_user.full_name %></span>
          </div>
        <% end %>
      </li>
      <li class="nav-item">
        <div class="link-group">
          <%= render partial: 'users/user_icon', locals: { user: current_user } %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, :method => :delete, class: 'logout-link' do %>
          <div class="link-group">
            <span>Sign out</span>
            <div class="nav-icon">
              <div class="nav-icon-container">
                <ion-icon name="log-out-outline"></ion-icon>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    </ul>
  <% end %>
</nav>
