<nav data-controller="burger-menu">
  <%= link_to root_url do %>
    <div class="logo">
      <div class="gembook">
        <ion-icon class="diamond nav-icon" name="diamond"></ion-icon>
        <span>Gembook</span>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <button data-action="click->burger-menu#toggleNavLinks" id="hamburger" class="hamburger">
      <ion-icon name="menu-outline"></ion-icon>
    </button>
    <ul data-burger-menu-target="navLinks" class="nav-links link-group" id="nav-links">
      <li class="nav-item">
        
        <%= link_to posts_path do %>
            <div class="nav-icon-container">
              <ion-icon class="nav-icon" name="create-outline"></ion-icon>
            </div>
            <span>Posts</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to users_path do %>
            <div class="nav-icon-container">
              <ion-icon class="nav-icon" name="people-circle-outline"></ion-icon>
            </div>
            <span>Friends</span>
        <% end %>
      </li>
      <li class="nav-item">
        <% if current_user.received_notifications.unread.any? %>
          <%= link_to notifications_path, class: 'notifications-link' do %>
              <div class="nav-icon notifications-bell">
                <div data-controller="notification-count" id="notification-container" class="notifications-count">
                  <span id="notificationCount"><%= current_user.received_notifications.unread.length %></span>
                </div>
                <div class="nav-icon-container">
                  <ion-icon name="notifications-outline"></ion-icon>
                </div>
              </div>
              <span>Notifications</span>
          <% end %>
        <% else %>
          <%= link_to notifications_path, class: 'notifications-link'  do %>
              <div class="nav-icon notifications-bell">
                <div class="nav-icon-container">
                  <ion-icon name="notifications-outline"></ion-icon>
                </div>
              </div>
              <span>Notifications</span>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to edit_user_registration_path  do %>
            <div class="nav-icon">
              <div class="nav-icon-container">
                <ion-icon name="settings-outline"></ion-icon>
              </div>
            </div>
            <span>Settings</span>
        <% end %>
      </li>
      <li class="nav-item">
          <%= render partial: 'users/user_icon', locals: { user: current_user } %>
      </li>
      <li class="nav-item">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'logout-link logout-button' %>
      </li>
    </ul>
  <% end %>
</nav>
