<!DOCTYPE html>
<html>
  <head>
    <title>Gembook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" defer></script>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="main-container">
      <%= render 'layouts/navbar' %>
      <div id="flash-message">
        <% flash.each do |message_type, message| %>
          <%= content_tag(
              :p, 
              message, 
              class: "notification #{message_type} message", 
              data: { controller: "flash-message", "flash-message-target": "message" }) %>
        <% end %>
      </div>
      <div id="content-wrap">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
