<!DOCTYPE html>
<html>
  <head>
    <title>Gembook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" defer></script>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="page-container">
      <nav>
        <%= link_to root_url do %>
          <div class="logo">
            <div class="gembook">
              <ion-icon class="diamond nav-icon" name="diamond"></ion-icon>
              <span>Gembook</span>
            </div>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <button id="hamburger" class="hamburger">
            <ion-icon name="menu-outline"></ion-icon>
          </button>
          <ul class="nav-links" id="nav-links">
            <li class="nav-item">
              <%= link_to posts_path do %>
                <div class="link-group">
                  <ion-icon class="nav-icon" name="create-outline"></ion-icon>
                  <span>Posts</span>
                </div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_path do %>
                <div class="link-group">
                  <ion-icon class="nav-icon" name="people-circle-outline"></ion-icon>
                  <span>Friends</span>
                </div>
              <% end %>
            </li>
            <li class="nav-item">
              <% if current_user.received_notifications.unread.any? %>
                <%= link_to notifications_path, class: 'notifications-link' do %>
                  <div class="link-group">
                    <div class="nav-icon notifications-bell">
                      <div class="notifications-count">
                        <span><%= current_user.received_notifications.unread.length %></span>
                      </div>
                      <ion-icon name="notifications-outline"></ion-icon>
                    </div>
                    <span>Notifications</span>
                  </div>
                <% end %>
              <% else %>
                <%= link_to notifications_path, class: 'notifications-link'  do %>
                  <div class="link-group">
                    <div class="nav-icon notifications-bell">
                      <ion-icon name="notifications-outline"></ion-icon>
                    </div>
                    <span>Notifications</span>
                  </div>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to edit_user_registration_path  do %>
                <div class="link-group">
                  <div class="nav-icon">
                    <ion-icon name="settings-outline"></ion-icon>
                  </div>
                  <span><%= current_user.full_name %></span>
                </div>
              <% end %>
            </li>
            <li class="nav-item">
              <div class="link-group">
                <%= render partial: 'users/user_icon', locals: { user: current_user } %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, :method => :delete, class: 'logout-link' do %>
                <div class="link-group">
                  <span>Sign out</span>
                  <div class="nav-icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                  </div>
                </div>
              <% end %>
            </li>
          </ul>
        <% end %>
      </nav>
      <div id="flash-message">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:p, message, class: "notification #{message_type} message") %>
        <% end %>
      </div>
      <div id="content-wrap">
        <%= yield %>
      </div>
      <footer class="footer">
        <ul class="footer-links">
          <li>
            <%= link_to 'https://github.com/joe-mccann-dev', class: 'footer-link' do %>
              <span>GitHub</span>
              <ion-icon class="github-footer" name="logo-github"></ion-icon>
            <% end %>
          </li>
          <li>
            <span>2022 &#169;</span>
            <%= link_to 'https://joe-mccann.dev', class: 'footer-link' do %>
              Joe McCann
            <% end %>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
